body {
    font-family: "Poppins", sans-serif;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #E69C24 !important;
}

.navbar-brand img,
.logo img {
    max-width: 50%;
    height: 50%;

}

.author {
    color: black;
    text-transform: uppercase;
}

.heading-featured h1 {
    margin-top: 2rem;
    font-weight: 700;
}

.heading-featured a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.heading-featured a:hover {
    color: #E69C24;
}

.card-body h2,
.my-recipes h2 {
    font-weight: 900;
}

.card-body h2:hover,
.my-recipes h2:hover {
    color: #E69C24;
}

.carousel-inner {
    height: 30%;
}

.page-link {
    color: #000000;
}

.page-link:hover {
    color: #E69C24;
}

.search:hover {
    background-color: #E69C24;
}

.card-body button {
    margin: 5px;
}

.card {
    border: none;
}

.recipe-title {
    color: #000000;
}

.recipe-link {
    text-decoration: none;
}

.main-bg {
    background-color: #FFFFFF;
}


.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #f0f0f0;
}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

#alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 

}
