body {
    font-family: "Poppins", sans-serif;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #5AB7D4 !important;
}


.navbar-brand img,
.logo img {
    max-width: 50%;
    height: 50%;

}

.author {
    color: black;
    text-transform: uppercase;
}





.main-bg {
    background-color: #FFFFFF;
}

.card {
    border: none;
}

.image-container {
    position: relative;
}

.scale {
    width: 100%;
    height: auto;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.recipe-title {
    color: #000000;
}

.recipe-link {
    text-decoration: none;
}

.page-link {
    color: #FF006F;
}

.recipe-excerpt {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #f0f0f0;
}




.link:hover,
.link:active {
    color: #354f52;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}