body {
    font-family: "Poppins", sans-serif;
}

.nav-link:hover,
.dropdown-item:hover {
    color: #E69C24 !important;
}

.navbar-brand img,
.logo img {
    max-width: 45%;
    height: 45%;
}

.heading-featured h1,
.features h1 {
    margin-top: 2rem;
    font-weight: 700;
    text-align: center;
}

.features h5 {
    font-weight: 700;
}

.heading-featured a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.heading-featured a:hover {
    color: #E69C24;
}

.card-body h2,
.my-recipes h2 {
    font-weight: 900;
}

.card-body h2:hover,
.my-recipes h2:hover {
    color: #E69C24;
}

.carousel-inner {
    height: 30%;
}

.page-link {
    color: #000000;
}

.page-link:hover {
    color: #E69C24;
}

.search:hover {
    background-color: #E69C24;
}

.card-body button {
    margin: 5px;
}

.card {
    border: none;
}

.recipe-title {
    color: #000000;
}

.recipe-link {
    text-decoration: none;
}

.author {
    color: black;
    text-transform: uppercase;
}

.main-bg {
    background-color: #FFFFFF;
}

.btn-signup,
.submit-btn,
.btn-edit {
    background-color: #234E5A;
    color: #f0f0f0;
}

.btn-signup:hover,
.submit-btn:hover,
.btn-edit:hover {
    background-color: #00AB8C;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.delete-recipe-btn,
.card-body .btn-delete {
    background-color: #E84610;
    color: #fff;
}

.delete-recipe-btn:hover,
.card-body .btn-delete:hover {
    background-color: #650000;
}

.btn-add-delete i {
    color: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

#alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 

}

.social-link {
    color: #fff;
    text-decoration: none;
}

.club-image {
    margin-top: 10px;
}